<html>
	<body>
		<h1>New Menu Item</h1>

		<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}" method='post'>

			<input type='text' size='30' name='name' placeholder='Enter Name'></br>
			<input type='text' size='30' name='desc' placeholder='Enter Description'></br>
			<input type='text' size='30' name='price' placeholder='Enter Price'></br>
			<input type='text' size='30' name='course' placeholder='Enter Course Type e.g. Entree'></br>
			<input type='submit' value='Create'>
		</form>
	</body>
</html>